



.card-container{
  height: 260px;
  width: 180px;
  border: 1px solid black;
  margin: 5px;
  border-radius: 4%;
  text-align: centre;
}
.card{
  margin-top: -10px;
  margin-left:4px;
  font-size: 250px
}

.table{
  display: flex;
  align-items: initial;
  flex-direction: row;
  width: 100%;
  height:100%;
}

.tableau{
  display:flex;
  flex-direction:row;
}

.pile{
  display:flex;
  flex-direction:column;
}